<h1 class="mx-5 mt-5"><i class="bi bi-cart4"></i> Orders</h1>
<div class="card mx-5 mt-2">
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, soluta?
    </div>
</div>
<div class="card mx-5 mt-2">
    <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptatem esse aliquid minus nam tenetur fuga
        blanditiis commodi ducimus incidunt!
    </div>
</div>
<div class="card mx-5 mt-2">
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum architecto numquam mollitia quisquam nostrum
        aspernatur!
    </div>
</div>
<div class="card mx-5 mt-2">
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente minima maiores et dolores rerum porro
        nisi placeat illo. Voluptates.
    </div>
</div>